.parts-gallery {
    &__item {
        width: 33.33%;
        overflow: hidden;
        padding: 0 10px;
        img {
            width: 100%;
        }
    }
    .flickity-prev-next-button {
        padding: 0;
        width: 72px;
        height: 46px;
        background: rgba(#000,0.5);
        transform: translateY(-50%);
        top:50%;
        margin-left: 0;
        svg {
            max-width: 100%;
            width: 38px;
        }
        &.previous {
            left: -25px;
            right: auto;
        }
        &.next {
            right: -25px;
            left:auto;
        }
    }
    .flickity-button:disabled {
        pointer-events: auto;
    }
}
