$radius : 50px;
.list-ct-1-thumb{
    position: relative;
    display: block;
    font-size: 0;
    height: 440px;
    margin-top: 30px;
    &__thumbnail{
        display: inline-block;
        vertical-align: top;
        width: 66%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        .img-thumb{
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-size : cover !important;
            background-repeat: no-repeat !important;
        }
        .img-detail{
            position: absolute;
            bottom : 27px;
            width: 50%;
            @media screen and ($res-1200){
                width: 65%;;
            }
            $root : &;
            &__wrapper{
                position: relative;
                display: block;
                background-image: linear-gradient(to right, #fdf9ea, #fdf7e3, #fcf5dc, #fcf3d4, #fcf1cd);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 5px 18px 5px 43px;
                .headline{
                    color: $color-green;
                    line-height: 1.4;
                    font-size: 27px;
                    margin: 0;
                    display: block;
                    @include Roboto;
                    @media screen and ($res-1200){
                        font-size: 22px;
                    }
                }
                .desc{
                    color: #888888;
                    line-height: 1.4;
                    font-size: 17px;
                    @include Roboto;
                    @media screen and ($res-1200){
                        font-size: 15px;
                    }
                }
            }
            &--right{
                right : 0;
                .img-detail__wrapper{
                    border-top-left-radius: $radius;
                    border-bottom-left-radius: $radius;
                }
                .headline{
                    text-align: right;
                }
                .desc{
                    text-align: right;
                }
            }
        }
    }
    &__list{
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: calc(100% - 66%);
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 25px;
        .btn-block{
            //padding-top: 25px;
            padding-right: 15px;
            position: absolute;
            bottom : 0;
            left : 0;
            right : 0;
        }
        .title-block{
            @include Roboto;
            color : $color-green;
            font-size: 27px;
            line-height: 0.8;
            padding-bottom: 20px;
            @media screen and ($res-1200){
                font-size: 20px;
            }
        }
        ul{
            overflow: auto;
            height : calc(100% - 50px);
            padding: 0px 10px 40px 0px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            @media screen and ($res-1200){
                height : calc(100% - 40px);
            }
        }
        li{
            font-size: 0;
            position: relative;
            text-align: left;
            $size : 50px;
            padding-bottom: 15px;
            &:hover{
                .desc{
                    .line{
                        .line-dot{
                            left : 80%;
                        }
                    }
                }
            }
            &:last-child{
                .desc{
                    .line{
                        display: none;
                    }
                }
            }
            .thumbnail{
                display: inline-block;
                vertical-align: top;
                width: $size;
                height: $size;
                overflow: hidden;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border : 1px solid $color-gold;
                margin-top: 5px;
            }
            .desc{
                display: inline-block;
                vertical-align: top;
                position: relative;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding-left: 11px;
                width: calc(100% - #{$size});
                @include Roboto;
                font-size: 17px;
                line-height: 1.35;
                color : #535353;
                @media screen and ($res-1200){
                    font-size: 13px;
                }
                p{
                    margin: 0px;
                }
                .line{
                    display: block;
                    position: relative;
                    bottom : 0;
                    width: 100%;
                    height: 2px;
                    background-color: $color-gold;
                    margin-top: 15px;
                    .line-dot{
                        position: absolute;
                        left : 10%;
                        width: 37px;
                        background-color: #fff;
                        top : 0;
                        bottom : 0;
                        font-size: 0;
                        @include TransitionWithDurationAndEase(0.45s, $EasingSineInOut);
                        &:before, &:after{
                            content : '';
                            vertical-align: middle;
                            width: 4px;
                            height: 4px;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                            background-color: $color-gold;
                            display: inline-block;
                            margin-top: -1px;
                        }
                        &:before{
                            margin-left : 8px;
                            margin-right : 8px;
                        }
                    }
                }
            }
        }
    }
}