.review{
	.circles-slide{
		overflow: visible;
	}
	.container{
		overflow: hidden;
	}
	.circles-slide-item{
		&.is-selected{
			.box-review{
				$delay : 0.35s;
				-webkit-transition-delay: $delay;
				-moz-transition-delay: $delay;
				-ms-transition-delay: $delay;
				-o-transition-delay: $delay;
				transition-delay: $delay;
				visibility: visible;
				opacity: 1;
				z-index: 2;
				top : 10px;
			}
		}
		&__wrapper{
			padding-top: 160px;
			.box-review{
				position: absolute;
				top : 0px;
				left : -15%;
				visibility: hidden;
				opacity: 0;
				z-index: 0;
			}
		}
	}
}