/**
 * Basic typography style for copy text
 */

html {
    font-size: 14px;
    @include screen(desktop) {
        font-size: 13px;
    }
    @include screen(tablet) {
        font-size: 11px;
    }
    @include screen(mobile) {
        font-size: 14px;
    }
    @include screen(1500px,true) {
        font-size: 17px;
    }
    @include screen(1601px,true) {
        font-size: 18px;
    }
}

body {
    color: #5c5e5c;
    font-size: rem(18);
    font-weight: 400;
    font-family: 'SFProDisplay',sans-serif;
    // @include screen(mobile) {
    //     font-size: 14px;
    // }
    // @include screen(mobile) {
    //     font-size: rem(13);
    // }
}
