/* Color */
$color-green: #4ea247;
$color-gray : #808080;
$color-gold : #ecc043;
/* Responsive Size */
/**/
$res-small-mobile: "max-width: 360px";
$res-mobile: "max-width: 767px";
$res-tablet: "max-width: 992px";
$res-1200 : "max-width : 1200px";
$res-small-desktop: "max-width: 1180px";
$res-medium-desktop: "max-width: 1480px";
$res-large-desktop: "max-width: 1700px";
$res-no-mobile: "min-width: 767px"; /* Misc */
//$em-base: 18;
$base-url: '/assets/' !default;
