{% extends "app/_layout/layout.twig" %} {% block page %}
    <main id="main">
        {% include 'app/components/top-banner.twig' %}
        {% include 'app/components/slide-content-thumbnail.twig' %}
        {% include 'app/components/hanh-trinh.twig' %}
        {% include 'app/components/kien-thuc.twig' %}
        {% include 'app/components/thac-mac.twig' %}
        {% include 'app/components/review.twig' %}
    </main>
{% endblock %}
