{% extends "_layout/layout.twig" %} {% block page %}
<main id="main" class="main" data-module="lazyload animation">
    {% include '_components/popup-enter.twig' %}
    {% include '_components/s-intro.twig' %}
    {% include '_components/s-message.twig' %}
    {% include '_components/s-exterior.twig' %}
    {% include '_components/s-interior.twig' %}
    {% include '_components/s-operation.twig' %}
    {% include '_components/s-utilities.twig' %}
    {% include '_components/s-safe.twig' %}
    {% include '_components/s-accessories.twig' %}
    {% include '_components/s-specifications.twig' %}
    {% include '_components/s-gallery.twig' %}
    
</main>
{% endblock %}
