// Bootstrap custom var
// @import 'abstracts/index';
// @import '~bootstrap-material-design/scss/_variables.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Material Design
// @import '~bootstrap-material-design/dist/css/bootstrap-material-design';
@import 'bundles/mdb/scss/mdb';

.login {
	&__background {
		width: 100%;
		min-height: 100vh;
		background: url('../images/cover.jpg') no-repeat center bottom / cover;
	}
}
