<header class="header" data-module="header">
    <div class="header-container">
        <ul class="menu">
            <li class="active"><a href=""><span class="ico-home">Trang chủ</span></a></li>
            <li><a href=""><span>Sản Phẩm</span></a></li>
            <li><a href=""><span>Mẫu thử</span></a></li>
            <li><a href=""><span>Kiến thức Organic</span></a></li>
            <li><a href=""><span>Organic Elite Club</span></a></li>
            <li><a href=""><span>Mua Hàng online</span></a></li>
            <li class="no-hover search js-btn-search">
                <span class="ico-search">Tìm kiếm</span>
                <div class="search-field">
                    <input type="text" placeholder="search...">
                </div>
            </li>
        </ul>
    </div>
</header>
